# Dependencies
node_modules

# Environment variables
.env

# Uploads folder (local images)
uploads

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# Build output
dist
build